
  <mat-toolbar color="primary">

    <span>Shravan Bank</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color = "accent">
      View Entries
    </button>
   
  </mat-toolbar>

<!-- Use to load all the component -->
<div class="container mt-4">
  <router-outlet></router-outlet>  
</div>
