<div class="logo text-center">
  <img width="50" src="assets/gitlab.svg" />
</div>

<div class="registration-form m-3 p-4">
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Firstname" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Lastname" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="Mobilename" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Salary</mat-label>
          <input matInput placeholder="Salary" />
          <mat-icon matSuffix>money</mat-icon>
          <mat-hint>Salary is in Indian Rupees</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>No of EMI you want ?</mat-label>
          <mat-select>
            <mat-option *ngFor="let date of dates" [value]="date">
              {{ date }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="col-md-6">
    Your Gender ?
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
      <mat-radio-button value="3">Third Gender</mat-radio-button>
      <mat-radio-button value="3">Others</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-6">
    Do you want the CA ?
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Yes</mat-radio-button>
      <mat-radio-button value="2">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>EMI Amount</mat-label>
          <input matInput placeholder="Salary" />
          <mat-icon matSuffix>money</mat-icon>
          <mat-hint>Salary is in Indian Rupees</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <!-- <h4>Any Other Loan do you have ?</h4> -->
        <mat-form-field appearance="fill">
          <mat-label>Do you Any Other Loan ?</mat-label>
          <mat-select>
            <mat-option *ngFor="let package of packages" [value]="package">
              {{ package }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <br/>
  <form>
    <div class="col-md-6"> Upload Profile Pic :
      <input class="ng-hide" id="input-file-id" multiple type="file" />
    </div> 
  </form>
  <form>
    <div class="col-md-6"> Upload Video for Verification :
      <input class="ng-hide" id="input-file-id" multiple type="file" />
    </div>

  </form>
  <br />
  <button class="submit-button" mat-raised-button color="accent">Submit</button>
</div>
